@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
	background-color: #e7e7e7;
	font-family: Merriweather, serif;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Merriweather, serif;
  font-weight: 700;
  color: #333;
}

h1 {
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#baseball {
  height: 20px;
  width: 20px;
}

#avatar {
  border-radius: 206px;
  border: solid #09a0ef 10px;
  height: 200px;
  width: 200px;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
}

code, pre {
	font-family: 'Source Code Pro';
	text-align: left;
}

.centered {
  text-align: center;
}

.posts {
	text-align: left;
}

#foot {
  text-align: center;
}

/* Links */
a {
  color: #09a0ef;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-inverse {
	background-color: #09a0ef;
	border-color: #555;
	padding-bottom: 5px;
	padding-top: 5px;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #555;
}

.navbar-brand {
	font-size: 30px;
	letter-spacing: 2px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

.progress-bar-theme {
  background-color: #09a0ef;
}

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.pt {
	padding-top: 50px;
	padding-bottom: 50px;
}

#ww {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #e7e7e7;
}
